{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div id="div_bloc_reseau">
  <div id="bloc_asso">
      <img id="logo_asso" src="{{ article.logo }}" alt="Logo association">
      <div id="asso_details">
        <div class="bloc_nom_asso">
          {{ article.title }}
        </div>
        {% if article.site %}
            <div class="site_asso">
              <a href="{{ article.site }}" target="_blank">Site web</a>
            </div>
        {% endif %}
        {% if article.mail %}
            <div class="site_asso">
              <a href="mailto:{{ article.mail }}" target="_blank">E-mail</a>
            </div>
        {% endif %}
        {% if article.contact %}
            <div class="site_asso">
              <a href="{{ article.contact }}" target="_blank">Contact</a>
            </div>
        {% endif %}
        {% if article.facebook %}
            <div class="site_asso">
              <a href="{{ article.facebook }}" target="_blank">Facebook</a>
            </div>
        {% endif %}
        {% if article.twitter %}
            <div class="site_asso">
              <a href="{{ article.twitter }}" target="_blank">Twitter</a>
            </div>
        {% endif %}
        {% if article.instagram %}
            <div class="site_asso">
              <a href="{{ article.instagram }}" target="_blank">Instagram</a>
            </div>
        {% endif %}
        {% if article.telephone %}
            <div class="tel_asso">
              {{ article.telephone }}
            </div>
        {% endif %}
        {% if article.adresse %}
            <div class="adresse_asso">
              {{ article.adresse }}
            </div>
        {% endif %}
      </div>



    <div class="long_desc">
      {{ article.content }}
    </div>
  </div>

</div>

{% endblock %}
