<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link rel="icon" type="image/x-icon" href="../images/favicon.png">



        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie.css"/>
                <script src="{{ SITEURL }}/js/IE8.js" type="text/javascript"></script><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie6.css"/><![endif]-->

</head>

<body id="index" class="home">
        <header id="banner" class="body">
          <div id="logo">
            <a href="{{ SITEURL }}/">
            L'ENVOL DES FRONTIÈRES
          </a>

          </div>
          <!-- <svg class="svgwave" xmlns="http://www.w3.org/2000/svg" width="100%" height="100px" viewBox="0 0 1500 100">
            <path id="wavepath" style="z-index:-1;" d="M 280 31, l 460 0" fill="none" stroke="black" stroke-width="2px"></path>

            <text text-anchor="middle">
            <textPath class="my-text" href="#wavepath" startOffset="50%">
            <animate attributeName="startOffset" dur="0s" repeatCount="indefinite" values="180; 300; 180" keyTimes="0; 0.5; 1" ></animate>
            L'ENVOL DES FRONTIÈRES
            </textPath>
            </text>

            </svg> -->
            <div class="line" id="line"></div>


                <nav id="nav_menu"><ul>
                {% if DISPLAY_PAGES_ON_MENU != False %}
                {% for p in pages %}
                  {% if p == page %}
                    <div class="boite_active">
                      <div class="active"></div>
                      <li class="li_menu active"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    </div>
                  {% else %}
                    <li class="li_menu"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endif %}
                {% endfor %}
                {% endif %}
                </ul></nav>

                <div class="reseaux_sociaux">
                  <a href="https://www.facebook.com/envoldesfrontieres/"><img src="../images/facebook.png" alt=""></a>
                  <a href="https://www.instagram.com/envoldesfrontieres/"><img src="../images/instagram.png" alt=""></a>

                </div>

        </header><!-- /#banner -->

        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{{ SITEURL }}/theme/js/script.js"></script>

</body>
</html>
