{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="intro">
  L’ASBL L’Envol des frontières est une structure socio-culturelle bruxelloise dont
l’objectif est d’offrir aux citoyen·ne·s un regard nouveau sur le sujet des migrations
humaines par le biais d’événements culturels. Notre réseau associatif en ligne permet
aussi de créer un pont vers l’engagement citoyen.
</div>
<div class="bulles">
  <div id="bulle1">
    <span><a href="/expositions-et-evenements.html">Expositions et évènements</a></span>
  </div>
  <div id="bulle2">
    <span><a href="/reseau-associatif.html">Réseau associatif</a></span>
  </div>
  <div id="bulle3">
    <span><a href="/pret-de-materiel.html">Prêt de matériel</a></span>
  </div>
</div>

{% endblock content %}
