{% extends "base.html" %}
{% block title %}Réseau associatif{% endblock %}
{% block content %}

<div id="div_reseau">
      <div class="corps-reseau">
        <h1>Réseau associatif</h1>
        <div class="intro-reseau">
          <p>Notre réseau a pour objectif de vous permettre de trouver une
          association en fonction de vos besoins comme par exemple : service
          d’aide juridique, accompagnement de personnes migrantes, donner des
          cours de langue, événements culturels… Votre association n’y figure pas
          ou vous voulez apporter des modifications aux informations fournies ?
          Contactez-nous à l’adresse <a href="mailto:info@envoldesfrontieres.org">info@envoldesfrontieres.org</a></p>
        </div>
      </div>



      <div id="filtres">
        <details open>
          <summary>Filtrer par domaine d'action</summary>
          <div class="filtre">
            Réponse humanitaire
          </div>
          <div class="filtre">
            Activités socio-culturelles
          </div>
          <div class="filtre">
            Intégration au marché du travail
          </div>
          <div class="filtre">
            Service social
          </div>
          <div class="filtre">
            Plaidoyer
          </div>
          <div class="filtre">
            Conseil juridique
          </div>
          <div class="filtre">
            Cours de langues
          </div>
          <div class="filtre">
            Coopération au développement
          </div>
          <div class="filtre">
            Centre de recherche
          </div>
          <div class="filtre">
            Activités pédagogiques
          </div>
          <div class="filtre">
            Formation
          </div>
          <div class="filtre">
            Création artistique
          </div>
          <div class="filtre">
            Organisation de jeunesse
          </div>
          <div class="filtre">
            Accueil
          </div>
          <div class="filtre">
            Activités sportives
          </div>
          <div class="filtre">
            Label
          </div>
          <div class="filtre">
            Syndicat
          </div>
          <div class="filtre">
            Parti politique
          </div>
          <div class="filtre">
            Hébergement
          </div>
          <div class="filtre">
            Volontariat
          </div>
        </details>
        <div id="top" onclick="goTop()">↑ Revenir en haut de la page</div>

      </div>
      <div id="assos">
        {% for a in articles %}
          <a href="{{ SITEURL }}/{{ a.url }}">
            <div class="association">
                <img src="{{ a.logo }}" class="logo_asso" alt="">
                <div class="bloc_nom_asso">
                  {{ a.title }}
                </div>
                <div class="short_desc">
                  {{ a.summary }}
                </div>
                <div class="categories">
                  {% for c in a.filtres %}
                    <div class="">
                      {{ c }}
                    </div>
                  {% endfor %}
                </div>
            </div>
          </a>
        {% endfor %}
        <div id="no_assos">
          Aucun résultat ne correspond à votre recherche. Modifiez vos filtres pour obtenir plus de résultats.
        </div>
      </div>
    </div>

    

    <script type="text/javascript">
    function goTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    const coll_filtres = document.getElementsByClassName("filtre");
    const filtres = Array.from(coll_filtres);
    let coll_assos = document.getElementsByClassName("association");
    let message = document.getElementById("no_assos");

    filtres.forEach((item) => {
      item.addEventListener('click', function(){
        //console.log(item);
        item.classList.toggle("selected");
        let filtres_actifs = [];
        let nb_assos = 0;
        filtres.forEach((i) => {
          if(i.classList.contains("selected")) {
            filtres_actifs.push(i.innerText);
          }
        });
          for (var i = 0; i < coll_assos.length; i++) {
              let to_display = true;
              let categos = coll_assos[i].children[3];
              let liste_categos = [];
              for (let x=0; x<categos.children.length; x++) {
                liste_categos.push(categos.children[x].innerText.trim());
              }
              for(let j=0; j<filtres_actifs.length; j++) {
                if(!liste_categos.includes(filtres_actifs[j])) {
                  to_display = false;
                }
              }
              if(to_display) {
                coll_assos[i].style.display = "flex";
                nb_assos += 1;
              } else {
                coll_assos[i].style.display = "none";
              }

            }
            if(nb_assos == 0) {
              message.style.display = "inline-block";
            } else {
              message.style.display = "none";
            }
          });
    });

    </script>
    <noscript>Vous avez besoin d'activer Javascript dans les paramètres de votre navigateur pour visualiser les informations sur cette page.</noscript>



{% endblock %}
