
  #logo {
    font-size: 1em;
  }

  #logo a {
    color: black;
    padding-right: 0.5vw;
    text-decoration: none;
  }

  #logo::after {
    content: "• ";
    -webkit-text-stroke: 5px;
  }

  body {
    font-family: 'NationalPark-Regular';
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 10vh);
    margin: 0;
    scroll-behavior: smooth;
  }

  header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    grid-column: 1 / span 4;
    grid-row: 1 / 6;
    justify-content: space-between;
  }

  .point {
    width: 7px;
    height: 7px;
    border-radius: 3em;
    border: 2px solid black;
    display: inline-block;
    padding-top: 2px;
  }

  nav ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
  }

  nav ul li {
    list-style-type: none;
    font-size: 1em;
    padding-left: 1vw;
    padding-right: 2vw;
    text-indent: -1vw;
    border-top-width: 2px;
    border-top-color: black;
    transition: margin-top 0.3s, padding-top 0.3s, border-top-style 0.3s linear;
  }

  nav ul li a {
      padding-left: 0.5vw;
  }

  nav ul li::before {
    content: "• ";
    -webkit-text-stroke: 5px;
  }

  .menu_bas {
    border-top-style: dashed;
    padding-top: 15px;
    margin-top: 8px;
  }

  .menu_bas_fixe {
    border-top-style: solid;
    padding-top: 15px;
    margin-top: 8px;
  }

  .menu_bas_select {
    border-top: 2px solid black;
    padding-top: 15px;
    margin-top: 10px;
  }

  .line {
    flex-grow: 1;
    border-top-width: 2px;
    border-top-color: black;
    transition: border-top-style 0.3s linear;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }

  .active {
    font-family: 'NationalPark-Regular';
    color: #00cc66;
  }

  .active a {
    color: #00cc66;
  }

  .reseaux_sociaux {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
  }

  .reseaux_sociaux a img {
    width: 1.4vw;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
  }

  .intro {
    margin-top: 1vh;
    font-size: 2.5vw;
    padding: 1.5vw;
    padding-right: 25vw;
    grid-column: 1 / span 4;
    grid-row: 2 / span 5;
  }

  .bulles {
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 4;
    grid-row: 6 / span 5;
    border-top: 2px solid black;
    align-items: stretch;
  }

#bulle1:hover, #bulle2:hover, #bulle3:hover {
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);

  }

  span a {
    color: black;
    text-decoration: none;
  }

  #bulle1 {
    font-size: 2.75vw;
    width: 20%;
    padding: 7vw;
    text-align: center;
    font-family: 'NationalPark-Outline';
    transition: background 0.5s;
    display: flex;
    align-content: center;
    align-items: center;
  }



  #bulle1 span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  #bulle2 {
    font-size: 2.75vw;
    text-align: center;
    flex-grow: 1;
    width: 20%;
    padding: 7vw;
    font-family: 'NationalPark-Outline';
    display: flex;
    align-content: center;
    align-items: center;
    transition: background 0.5s;
  }


  #bulle3 {
    font-size: 2.75vw;
    text-align: center;
    flex-grow: 1;
    width: 20%;
    padding:7vw;
    font-family: 'NationalPark-Outline';
    display: flex;
    align-content: center;
    align-items: center;
    transition: background 0.5s;
  }

  h1 {
    font-size: 3.3vw;
    font-family: 'NationalPark-Outline';
    padding-left: 0vw;
    margin-top: 0;
    padding-top: 0vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
    font-weight: normal;
  }

  h2 {
    font-family: 'NationalPark-Regular';
    font-weight: normal;
    text-decoration: underline;
    font-size: 1.5vw;
    margin-top: 8vh;
    margin-bottom: 1vh;
  }

  p a {
    font-family: 'NationalPark-Regular';
    color: #00cc66;
    text-decoration: none;
  }

  .corps {
    font-size: 1.5vw;
    margin-top: 3vh;
    padding-left: 2vw;
    padding-bottom: 3vh;
    grid-column: 1 / span 4;
    grid-row: 2 / 8;
  }

  .corps p {
    padding-right: 50vw;
  }

  .corps-reseau {
    font-size: 1.5vw;
    margin-top: 3vh;
    padding-right: 50vw;
    padding-left: 2vw;
    padding-bottom: 3vh;
    border-bottom: 2px solid black;
  }

  .intro-reseau p a {
  }

  #div_reseau {
    grid-column: 1 / span 4;
    grid-row: 2 / span 10;
  }

  p {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .encart {
    margin-top: 2vh;
    width: 90vw;
  }

  .encart img {
    display: inline-block;
    height: 50vh;
    width: auto;
    margin-right: 1vw;
    margin-bottom: 1vw;
  }

  iframe {
    width: 50%;
    height: 50vh;
    margin-bottom: 2vh;
    margin-right: 25vw;
  }

  #zone_recherche {
    background-color: white;
    z-index: 10;
  }

  #assos {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(75vw - 25px);
    display: inline-block;
  }


  #assos a {
      text-decoration: none;
    }


  a:-webkit-any-link {
      cursor: pointer;
      text-decoration: none;
  }

  .association {
    border-bottom: 2px solid black;
    background-color: white;
    padding: 1.5vw;
    font-family: "NationalPark-Regular";
    display: flex;
    flex-direction: row;
  }

  .association:hover {
    background-color: lightgrey;
    color: black;
    text-decoration: none;
  }

  .association img {
    width: 7vw;
    margin-right: 2vw;
    height: auto;
    align-self: flex-start;
  }

  .nom_asso {
    font-size: 2vw;
    margin-bottom: 1vh;
    order: 2;
  }

  .bloc_asso {
    border-top:
  }

  .type_asso {
    order: 4;
    background-color: tomato;
    color: white;
    padding: 0.5vw;
    display: inline-block !important;
  }

  .bloc_nom_asso {
    font-size: 2.25vw;
    width: 30vw;
    color: black;
    margin-bottom: 3vh;
    margin-left: 0vw;
  }

  .site_asso {
    border: 1px solid black;
    padding: 0.25vw;
    margin: 0.25vw;
    margin-left: 0;
    margin-right: 0.5vw;
    display: inline-block;
    font-size: 1vw;
    background-color: white;
  }

  .adresse_asso {
    font-size: 1vw;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
  }


  .tel_asso {
    font-size: 1vw;
    margin-top: 1vh;
  }


  .long_desc {
    font-size: 1vw;
    width: 35vw;
    margin-top: 1.5vh
  }

  .site_asso:hover {
    background-color: black;
    color: white;
  }

  .site_asso a {
    color: black;
    text-decoration: none;
  }

  .site_asso a:hover {
    color: white;
  }

  .short_desc {
    width: 25%;
    font-size: 1vw;
    margin-left: 2vw;
    color: black;
    text-decoration: none;
  }

  .link_asso {
    order: 6;
    padding: 0.7vw;
    border: 2px solid black;
    text-align: center;
    margin-top: 2vh;
    color: black;
  }

  .link_asso:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }

  .link_asso a {
    text-decoration: none;
    color: inherit;
    font-size: 1vw;
  }

  #bloc_asso img {
    width: 8.5vw;
    height: auto;
    align-self: flex-start;
    margin-right: 5vw;
  }

  #bloc_asso {
    padding: 1.5vw;
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
  }

  #asso_details {
    width: 30vw;
    margin-right: 5vw;
  }

  #div_bloc_reseau {
    grid-column: 1 / span 4;
    grid-row: 3 / span 9;
    padding-bottom: 2vh;
  }

  .categories {
    width: 20%;
    margin-left: 2vw;
  }

  .categories > div {
    display: inline-block;
    padding: 0.5vw;
    margin: 0.2vw;
    margin-left: 0;
    margin-right: 0.4vw;
    background-color: #00cc66;
    color: white;
    border-radius: 2vw;
    text-align: center;
    font-size: 0.75vw;
  }

  #top {
    left: 1vw;
    bottom: 1vw;
    padding: 0.5vw;
    background-color: black;
    color: white;
    margin-top: 2vh;
    align-self: flex-start;
    border: 2px solid black;
  }

  #top:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

  #filtres {
    width: 23vw;
    height: 100vh;
    position: sticky;
    top: 0vh;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    border-right: 2px solid black;
    padding: 1vw;
  }

  #filtres p {
    font-size: 1.5vw;
    margin: 0.25vw;
    margin-bottom: 2vh;
  }

  summary {
    margin-bottom: 2vh;
  }

  #no_assos {
    display: none;
    padding: 1.5vw;
    font-size: 1.25vw;
  }

  .filtre {
    padding: 0.5vw;
    border: 2px dashed black;
    margin: 0.25vw;
    display: inline-block;
    border-radius: 2vw;
  }

  .filtre:hover {
    background-color: white;
    color: black !important;
    border: 2px solid #00cc66 !important;
    cursor: default;
  }

  .selected {
    background-color: #00cc66 !important;
    color: white !important;
    border: 2px solid #00cc66 !important;
  }


@media screen and (max-width: 800px) {
  #logo {
    font-size: 1.25em;
    padding-left: 5vw;
    padding-top: 15px;
  }

  #logo a {
    color: black;
    padding-right: 0.5vw;
  }

  #logo::after {
    content: "• ";
  }

  body {
    font-family: 'NationalPark-Regular';
    display: inline-block;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    padding: 0px ;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav  {
    width: 100%;
    margin-top: 1vh;
  }

  nav ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-end;
  }

  nav ul li {
    list-style-type: none;
    font-size: 1.25em;
    padding-left: 0vw;
    padding-right: 5vw;
    padding-top: 15px !important;
    text-indent: -1vw;
    border-top-width: 2px;
    border-top-color: black;
    align-self: flex-end;
    transition: margin-top 0.3s, padding-top 0.3s, border-top-style 0.3s linear;
  }

  div.active {
    border-top: 2px solid black;
    margin-top: 25px;
    flex-grow: 2;
    width: 12vw;
  }

  .boite_active {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
  }

  .menu_bas {
    border-top-style: dashed;
    padding-top: 0px;
    margin-top: 0px;
    border-top-width: 0px !important;
  }

  .menu_bas_fixe {
    border-top-style: solid;
    padding-top: 0px;
    margin-top: 25px;
  }

  li.menu_bas_fixe {
    margin-top: 0px;
    border-top-width: 0px;
  }

  li.active {
    padding-top: 15px !important;
  }

  .line {
    flex-grow: 1;
    border-top-width: 2px;
    border-top-color: black;
    transition: border-top-style 0.3s linear;
  }

  .corps {
    font-size: 5vw;
    margin-top: 8vh;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vh;
    display: inline-block;
    grid-column: none;
    grid-row: none;
  }

  .corps p {
    padding-right: 5vw;
  }

  h1 {
    font-size: 10vw;
    font-family: 'NationalPark-Outline';
    padding-left: 0vw;
    margin-top: 0;
    padding-top: 0vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
  }

  h2 {
    font-family: 'NationalPark-Regular';
    font-weight: normal;
    text-decoration: underline;
    font-size: 5vw;
    margin-top: 8vh;
    margin-bottom: 1vh;
  }

  .corps-reseau {
    font-size: 5vw;
    margin-top: 7vh;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vh;
    border-bottom: 2px solid black;
  }

  .association {
    border-bottom: 2px solid black;
    background-color: white;
    padding: 5vw;
    font-family: "NationalPark-Regular";
    display: flex;
    flex-direction: column;
  }

  .association:hover {
    background-color: lightgrey;
    color: black;
    text-decoration: none;
  }

  .association img {
    width: 15vw;
    margin-right: 2vw;
    height: auto;
    align-self: flex-start;
  }

  .nom_asso {
    font-size: 2vw;
    margin-bottom: 1vh;
    order: 2;
  }

  .type_asso {
    order: 4;
    background-color: tomato;
    color: white;
    padding: 0.5vw;
    display: inline-block !important;
  }

  .bloc_nom_asso {
    font-size: 6vw;
    width: 100%;
    color: black;
    margin-bottom: 3vh;
    margin-left: 0vw;
    text-decoration: none;
  }

  .site_asso {
    border: 1px solid black;
    padding: 1vw;
    margin: 1vw;
    margin-left: 0;
    margin-right: 0.5vw;
    display: inline-block;
    font-size: 4vw;
    background-color: white;
  }

  .adresse_asso {
    font-size: 4.25vw;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
  }


  .tel_asso {
    font-size: 4.25vw;
    margin-top: 1vh;
  }

  sup {
    line-height: 90%;
  }

  .long_desc {
    font-size: 4.25vw;
    width: 100%;
    margin-top: 1.5vh
  }

  .site_asso:hover {
    background-color: black;
    color: white;
  }

  .site_asso a {
    color: black;
    text-decoration: none;
  }

  .site_asso a:hover {
    color: white;
  }

  .short_desc {
    width: 100%;
    font-size: 4.25vw;
    margin-left: 0vw;
    color: black;
    text-decoration: none;
  }

  .link_asso {
    order: 6;
    padding: 0.7vw;
    border: 2px solid black;
    text-align: center;
    margin-top: 2vh;
    color: black;
  }

  .link_asso:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }

  .link_asso a {
    text-decoration: none;
    color: inherit;
    font-size: 1vw;
  }

  #bloc_asso img {
    width: 20vw;
    height: auto;
    align-self: flex-start;
    margin-right: 5vw;
  }

  #bloc_asso {
    padding: 5vw;
    display: flex;
    margin-top: 3vh;
    flex-direction: column;
    border-top: 2px solid black;
  }

  #asso_details {
    width: 80vw;
    margin-right: 5vw;
  }

  #div_bloc_reseau {
    grid-column: none;
    grid-row: none;
    padding-bottom: 2vh;
  }

  .categories {
    width: 100%;
    margin-left: 0vw;
    margin-top: 2vh;
  }

  .categories > div {
    display: inline-block;
    padding: 1vw;
    margin: 1vw;
    margin-left: 0;
    margin-right: 0.4vw;
    background-color: #00cc66;
    color: white;
    border-radius: 6vw;
    text-align: center;
    font-size: 4vw;
  }

  #assos {
    width: 100vw;
  }

  #filtres {
    width: 94vw;
    position: sticky;
    top: 0vh;
    height: auto;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 3vw;
    background-color: white;
  }

  summary {
    margin-bottom: 1vh;
  }

  #filtres p {
    font-size: 5vw;
    margin: 1.5vw;
    margin-bottom: 2vh;
  }

  #no_assos {
    display: none;
    padding: 2.5vw;
    font-size: 5vw;
  }

  .filtre {
    padding: 1.25vw;
    border: 2px dashed black;
    margin: 1vw;
    display: inline-block;
    border-radius: 4vw;
    font-size: 4vw;
  }

  .reseaux_sociaux {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
    margin-top: 3vh;
    width: 100%;
    justify-content: flex-end;
  }

  .reseaux_sociaux a img {
    width: 7vw;
    margin-left: 2vw;
  }

  .intro {
    margin-top: 5vh;
    font-size: 7vw;
    padding: 5vw;
    grid-column: none;
    grid-row: none;
  }

  .bulles {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    grid-column: none;
    grid-row: none;
    border-top: 2px solid black;
  }

  #bulle1:hover, #bulle2:hover, #bulle3:hover {
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
    background:radial-gradient(ellipse at 50% 50%, rgba(211, 211, 211, 1) 0%, rgba(238, 130, 238, 0) 61%);
  }

  #bulle1 {
    font-size: 9vw;
    width: 90%;
    padding: 5vw;
    margin: 5vw;
    text-align: center;
    align-self: center;
    font-family: 'NationalPark-Outline';
    transition: outline 0.5s;
  }

  #bulle1 span, #bulle2 span,  #bulle3 span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  #bulle2 {
    font-size: 9vw;
    text-align: center;
    flex-grow: 1;
    width: 90%;
    padding: 5vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    margin: 0vw;
    align-self: center;
    font-family: 'NationalPark-Outline';
    border-top: 2px solid black;
    justify-content: center;
  }


  #bulle3 {
    font-size: 9vw;
    text-align: center;
    flex-grow: 1;
    width: 90%;
    padding: 5vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    margin: 0vw;
    border-top: 2px solid black;
    align-self: center;
    font-family: 'NationalPark-Outline';
    justify-content: center;
  }

  span a {
    color: black;
  }

    .encart {
    margin-top: 2vh;
    width: 100%;
  }

  .encart img {
    display: inline-block;
    height: auto;
    width: 100%;
    margin-right: 0vw;
    margin-bottom: 1vh;
  }


  iframe {
    width: 100%;
    height: 25vh;
    margin-bottom: 2vh;
    margin-right: 0;
  }

  #top {
    left: 1vw;
    bottom: 1vw;
    padding: 1vw;
    background-color: black;
    color: white;
    margin-top: 2vh;
    align-self: flex-start;
    border: 2px solid black;
    text-align: center;
  }
}

@font-face {
  font-family: "NationalPark-Regular";
  src: url("../fonts/NationalPark-Regular.woff2") format("woff2"),
       url("../fonts/NationalPark-Regular.woff") format("woff");
}

@font-face {
  font-family: "NationalPark-Outline";
  src: url("../fonts/NationalPark_outline.woff2") format("woff2"),
       url("../fonts/NationalPark-outline.woff") format("woff");
}
